.order-details {
    width: 500px;
    height: 500px;
}

.order {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 40px;
}

.footer {
    text-align: center;
}