.side{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:24px
}

.bottom{
    text-align: left;
}

.clickable {
    cursor: pointer;
}