body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-root {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  box-sizing: border-box;
  height: calc(100vh - 88px);
  width: 100%;
  padding-top: calc((100vh - 88px)/5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.link-nodecoration{
  text-decoration: none;
  color: #4C4CFF;
}